* {
    margin: 0;
    padding: 0;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Open Sans', sans-serif;
   
    
}
body{
    background-color: antiquewhite;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    color: blueviolet;
}

ul{
    list-style: none;
}

li{
    padding: 10px;
}

.navbar .container{
    display: flex;
    flex-basis: 200px;
    justify-content: space-between;
    background-color: #D4B895;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  
    
}

.info .container{
    margin-left: 209px;
    margin-right: 209px;
}

.items{
    margin-top: 20px;
    display: flex;
    
}

.title{
    margin-top: 20px;
    padding: 7px;
}
.main_icon{
    width: 75px;
    height: 75px;
}

.title-tile{
    display: flex;
}



.header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    

}

.header-title{
    font-size: 57px;
}



.upper_section .container{
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: space-evenly;
    height: 150px;
   
}

.lower_section .container{
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: space-evenly;
    height: 150px;
    
}

.card{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AAA;
    
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
}
.upper_section .container .card:nth-child(1){
    background-image: url(media/Screenshot\ 2022-04-30\ 114535.png);
    color: antiquewhite;
    font-weight: bolder;
    background-size: cover;


}

.upper_section .container .card:nth-child(2){
   background-image: url(media/Screenshot\ 2022-04-30\ 115618.png);
   color: antiquewhite;
   font-weight: bolder;
   background-size: cover;
}


.upper_section .container .card:nth-child(3){
    background-image: url(media/Screenshot\ 2022-04-30\ 115802.png);
    color: antiquewhite;
    font-weight: bolder;
    background-size: cover;
}

.lower_section .container .card:nth-child(1){
    background-image: url(media/Screenshot\ 2022-04-30\ 120301.png);
    color: antiquewhite;
    font-weight: bolder;
    background-size: cover;
}

.lower_section .container .card:nth-child(2){
    background-image: url(media/Screenshot\ 2022-04-30\ 121207.png);
    color: antiquewhite;
    font-weight: bolder;
    background-size: cover;
}


.lower_section .container .card:nth-child(3){
    background-image: url(media/Screenshot\ 2022-04-30\ 121316.png);
    color: antiquewhite;
    font-weight: bolder;
    background-size: cover;
}
    
.footer .container{
    background-color: #D4B895;
    height: 50px;
    position: relative;
    padding-top: 50px;
    top: 20px;
}

 @media(max-width: 768px){
    .header .container{
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .info .container{
        margin-left: 10px;
        margin-right: 10px;
    }
    

    .upper_section .container{
        display: block;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .lower_section .container{
        display: block;
        text-align: center;
        position: relative;
        top: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .footer .container{
        position: relative;
        top: 120px;

    }
    
    

  
}
